h1 {
color: hwb(113 0% 0%);
font-size: 30px;
}
a {
    color:brown;
    font-size: 20px;
}
.myDiv {
    border: 7px outset blue;
    background-color: #33b323;
    text-align: center;
}
code {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color:antiquewhite;
color: black;
padding: 12px;
}
details {
    padding: 4px;
    width: 200px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
}
details > p {
    background-color: #eeeeee;
    padding: 4px;
    margin: 0;
    width:400px ;
    box-shadow: 1px 1px 2px #bbbbbb;
  }